<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>免费shadowsocks帐号</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   {% block style %}
    <style>
        body {
            position: relative; 
        }
        #id_download {padding:50px 0px 30px 0px;color: #fff; background-color: #666699;}
        #id_account {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
        #id_server {padding:40px 0px 20px 0px;color: #fff; background-color: #666699;}
        #id_donate {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
        #id_contact {padding:40px 0px 40px 0px;color: #fff; background-color: #333333;}
    </style>
    {% end %}
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="30">

<nav class="navbar navbar-inverse navbar-fixed-top"  >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WantJr</a>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            {% block left_navbar %}
            {% end %}

            {% block right_navbar %}
            <ul class="nav navbar-nav navbar-right">
                {% if not user %}
                    <li><a href="#login" data-toggle="modal" ><span class="glyphicon glyphicon-log-in"><span> 登录/注册</a></li>
                {% else %}
                    <li><a href="/user" ><span class="glyphicon glyphicon-user"><span> {{ user }}</a></li>
                    <li><a href="/user?log_out=1" ><span class="glyphicon glyphicon-log-out"><span> 登出</a></li>
                {% end %}
            </ul>
            {% end %}
        </div>

    </div>
</nav>


{% block right_navbar_sub %}
<!-- 模态框（Modal） -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" align="center"> 登录/注册 </h4>
            </div>
            <div class="modal-body" align="center">
                <!-- 可以静态缓存图片 
                    <img src="{{ static_url("1.jpg") }}" width="200 px" height="200 px"/>
                <form action="/login" >
                    <input type="text" name="account"/>
                <input type="submit" value="Post"/>
                -->
                <form action="/login" class="form-horizontal" role="form" method="post">
                  {% module xsrf_form_html() %}
                  {% if err_code==1000 %}
                  <p style="color:red"><strong>用户名格式错误</strong></p>
                  {% elif err_code==1001 %}
                  <p style="color:red"><strong>您的密码错误</strong></p>
                  {% elif err_code==1002 %}
                  <p style="color:red"><strong>请先登录</strong></p>
                  {% end %}
                  <div class="form-group">
                    <label for="mail" class="col-xs-3 col-sm-3 control-label">用户 :</label>
                    <div class="col-xs-9 col-sm-6">
                      <input type="text" class="form-control" name="user" placeholder="邮箱 / 手机">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-xs-3 col-sm-3 control-label">密码 :</label>
                    <div class="col-xs-9 col-sm-6">
                      <input type="text" class="form-control" name="password" placeholder="密码可以为空">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                      <button type="submit" class="btn btn-default"> 登录/注册 </button>
                    </div>
                  </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% end %}


{% block content %}

{% end %}

{% block public_script %}
<script>
    {% if 1000<=err_code<=1002 %}
        $('#login').modal('show');    
    {% end %}
    $('#login').on('hidden.bs.modal',
        function() {
            window.location.href='/'
        })
</script>
{% end %}

</body>
</html>
