{% extends "base.html" %}
{% block style %}
<style>
    body {
        position: relative; 
    }

    /* #warning {padding:70px 0px 0px 0px;} */
    #id_download {padding:50px 0px 30px 0px;color: #fff; background-color: #666699;}
    #id_account {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
    #id_server {padding:40px 0px 20px 0px;color: #fff; background-color: #666699;}
    #id_donate {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
    #id_contact {padding:40px 0px 40px 0px;color: #fff; background-color: #333333;}
</style>
{% end %}

{% block left_navbar %}
<ul class="nav navbar-nav navbar-left">
    <li><a id="test1" href="#id_download"><span class="glyphicon glyphicon-download"/> 下载</a></li>
    <li><a href="#id_account"><span class="glyphicon glyphicon-log-in"><span> 帐号</a></li>
    <li><a href="#id_server"><span class="glyphicon glyphicon-log-in"><span> 搭建服务器</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            其他<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#id_donate"><span class="glyphicon glyphicon-heart"><span> 小额捐助</a></li>
            <li class="divider"></li>
            <li><a href="#id_contact"><span class="glyphicon glyphicon-earphone"><span> 联系我们</a></li>
        </ul>
    </li>
</ul>
{% end %}


{% block content %}
<div id="id_download" >
<!--
<div id="warning" class="alert alert-warning alert-dismissible" role="alert" align="center">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   本站将于2017/01/01 00:00升级服务器。同时更新TCP BBR协议，届时将会停止2小时左右的服务。请谅解。
</div>
-->
    <h2><span class="glyphicon glyphicon-download"/> 客户端下载</h2>
    <hr/>
    <div class="row text-center" style="padding:0 50px 0 50px" >
        <div style="padding-top:0px" class="col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a role="button" type="button" target="_blank" class="btn btn-default btn-lg" href="https://github.com/shadowsocks/shadowsocks-windows/releases/download/3.4.2/Shadowsocks-3.4.2.zip"><span class="glyphicon glyphicon-download-alt"/> windows3.4.2 </a>
            <p  class="visible-xs">
        </div>

        <div style="padding-top:0px" class="col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a role="button" type="button" class="btn btn-default btn-lg" href="https://github.com/shadowsocks/shadowsocks-android/releases/download/v3.3.1/shadowsocks-nightly-3.3.1.apk" target="_blank" ><span class="glyphicon glyphicon-download-alt"/> android3.3.1 </a>
            <p  class="visible-xs">
        </div>

        <div style="padding-top:0px" class="col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a id="linux_download" role="button" type="button" class="btn btn-default btn-lg" href="javascript:void(0)" ><span class="glyphicon glyphicon-download-alt"/> ubuntu/debain </a>
            <p  class="visible-xs">
        </div>

        <div style="padding-top:0px" class="col-xs-6 col-xs-offset-1 col-sm-3 col-sm-offset-0">
            <a role="button" type="button" class="btn btn-default btn-lg" href="https://github.com/shadowsocks/shadowsocks-iOS/releases/download/2.6.3/ShadowsocksX-2.6.3.dmg" target="_blank" ><span class="glyphicon glyphicon-download-alt"/> mac2.6.3  </a>
            <p  class="visible-xs">
        </div>

    </div>
</div>


<div id="id_account">
    <h2 ><span class="glyphicon glyphicon-star-empty"/> 您的帐号</h2>
    <hr>
    <div class="row"  style="font-size:16px;padding:0 50px 0 50px;" align="center">
        <div class="col-xs-12 col-sm-4 ">

            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item " data-toggle="collapse" data-target="#account_sub1">
                    <h4 class="list-group-item-heading">
                        共享帐号
                    </h4>
                    <p class="list-group-item-text">
                        24小时变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每天00:00更换,和他人共享相同的端口">
                    </p>
                </a>
                <div class="collapse in " id="account_sub1">
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ public_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ public_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-target="#account_sub2">
                    <h4 class="list-group-item-heading">
                         登录用户
                    </h4>
                    <p class="list-group-item-text">
                        7天变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每周一更换,和他人共享相同的端口,速度更快">
                    </p>
                </a>
                {% if login_port %}
                <div class="collapse in" id="account_sub2">
                {% else %}
                <div class="collapse" id="account_sub2">
                {% end %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ login_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ login_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                {% if login_port %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                {% else %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-warning" style="center">没有权限</span></p></a>
                {% end %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-target="#account_sub3">
                    <h4 class="list-group-item-heading">
                         捐助用户
                    </h4>
                    <p class="list-group-item-text">
                    {% if err_code==2000 %}
                        很抱歉，本月帐号已经分配完,下个月开始您将享受到专有的帐号
                    {% else %}
                        1个月变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每月1日更换,独享一个端口无限速2GB流量">
                    {% end %}
                    </p>
                </a>
                {% if donate_port %}
                <div class="collapse in" id="account_sub3">
                {% else %}
                <div class="collapse" id="account_sub3">
                {% end %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ donate_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ donate_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                {% if donate_port %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                {% else %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-warning" style="center">没有权限</span></p></a>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id_server">
<h2><span class="glyphicon glyphicon-cloud"/> 搭建自己的服务器</h2>
<hr/>
<ul class="list-group" style="padding:0 50px 0 50px" >
     <a target="_blank" class="list-group-item" href="http://blog.chinaunix.net/uid-25530360-id-5595974.html">
        <span class="glyphicon glyphicon-link"/> <strong>shadowsocks 服务器配置教程 A</a></strong>
     <a target="_blank" class="list-group-item" href="http://www.chinagfw.org/2016/10/linux-shadowsocks.html">
        <span class="glyphicon glyphicon-link"/><strong> shadowsocks 服务器配置教程 B</a> </strong>
     <a target="_blank" class="list-group-item" href="https://github.com/baobaopangzi88/freeweb">
        <span class="glyphicon glyphicon-link"/><strong> 本网站是一个开源项目 所有代码都放在github上。</a> </strong>
</ul>
</div>

<div id="id_donate" >
<h2><span class="glyphicon glyphicon-heart"/> 小额捐助</h2>
<hr/>
    <ul class="list-group" style="padding:0 50px 0 50px" >
         <a class="list-group-item" href="javascript:void(0);" id="1">
            <span class="glyphicon glyphicon-credit-card"/><strong> 1元</a></strong>
         <a  class="list-group-item" href="javascript:void(0);" id="2">
            <span class="glyphicon glyphicon-credit-card"/><strong> 2元</a> </strong>
         <a  class="list-group-item" href="javascript:void(0);" id="5">
            <span class="glyphicon glyphicon-credit-card"/><strong> 5元</a> </strong>
    </ul>
</div>

<div id="id_contact" class="container-fluid" >
    <h2><span class="glyphicon glyphicon-earphone"/> 联系我们</h2>
    <hr/>
    <ul class="list-group" style="padding:0 50px 0 50px" >
         <a class="list-group-item" href="">
            <span class="glyphicon glyphicon-user"/><strong> 联系人:小姚</a> </strong>
         <a class="list-group-item" href="">
            <span class="glyphicon glyphicon-send"/><strong> 邮件:yaodongen@sina.com</a></strong>
    </ul>
</div>

<script>
    function getCookie(c_name){
    　　　　if (document.cookie.length>0){
    　　　　　　c_start=document.cookie.indexOf(c_name + "=")
    　　　　　　if (c_start!=-1){ 
    　　　　　　　　c_start=c_start + c_name.length+1
    　　　　　　　　c_end=document.cookie.indexOf(";",c_start)　　
    　　　　　　　　if (c_end==-1) c_end=document.cookie.length　　
    　　　　　　　　return unescape(document.cookie.substring(c_start,c_end))　　
    　　　　　　} 
    　　　　}
    　　　　return ""
    }
    // 原来显示的页面
    var old_myModalLabel = document.getElementById("myModalLabel").innerHTML;
    $('#id_donate *').click(function(e){
        if(!getCookie("user")){
            document.getElementById("myModalLabel").innerHTML="请先登录哦" ;
            $('#login').modal('show');
        }
        else{
            window.location.href='/donate?money='+e.target.id;
        }
    })

    $('#login').on('hidden.bs.modal',
        function() {
            document.getElementById("myModalLabel").innerHTML=old_myModalLabel;
        })
    var old_linux_download;
    $('#linux_download').click(function(e){
        // 有个跨平台的问题 firefox正常 chrome不正常
        if(e.target.outerHTML=="<code>sudo apt-get install shadowsocks</code>"){
            e.target.outerHTML=old_linux_download;
        }
        else{
            old_linux_download=e.target.outerHTML;
            e.target.outerHTML="<code>sudo apt-get install shadowsocks</code>"
        }
    })

</script>
{% end %}

