{% extends "base.html" %}

{% block style %}
<style>
    body {
        position: relative; 
    }

    #id_person_info {padding:50px 0px 30px 0px;color: #fff; background-color: #666699;}
    #id_account {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
    #id_server {padding:40px 0px 20px 0px;color: #fff; background-color: #666699;}
    #id_donate {padding:40px 0px 20px 0px;color: #fff; background-color: #6699CC;}
    #id_contact {padding:40px 0px 40px 0px;color: #fff; background-color: #333333;}
</style>
{% end %}

{% block left_navbar %}
{% end %}

{% block content %}
<div id="id_person_info" class="container-fluid"> 
    <h2><span class="glyphicon glyphicon-user"/> 个人信息</h2>
    <hr/>
    <div class="row">
    <div class="col-xs-12 col-sm-6 ">
    <ul class="list-group" style="padding:0 50px 0 50px" >
         <a class="list-group-item" href="javascript:void(0)">
            <span class="glyphicon glyphicon-user"/><strong> 您的帐号: {{ user }}</strong></a> 
         <a class="list-group-item" href="javascript:void(0)">
            <span class="glyphicon glyphicon-send"/><strong> 已用流量: {{ int(used_flow*100)*0.01 }}MB</strong></a> 
         <a class="list-group-item" href="javascript:void(0)">
            <span class="glyphicon glyphicon-compressed"/><strong> 总流量: {{ total_flow }}MB</strong></a> 
         <a class="list-group-item" href="javascript:void(0)">
            <span class="glyphicon glyphicon-usd"/><strong> 捐助: {{ donate_money }}元</strong> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="如果您反悔了，可以任何时候申请退回您的捐款"></a> 
         <a class="list-group-item" href="javascript:void(0)">
            <span class="glyphicon glyphicon-time"/><strong> 创建时间: {{ create_time }}</strong></a> 
    </ul>
    </div>
    </div>
</div>

</div>
<div id="id_account">
    <h2 ><span class="glyphicon glyphicon-star-empty"/> 您的帐号</h2>
    <hr>
    <div class="row"  style="font-size:16px;padding:0 50px 0 50px;" align="center">
        <div class="col-xs-12 col-sm-4 ">

            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item " data-toggle="collapse" data-target="#account_sub1">
                    <h4 class="list-group-item-heading">
                        共享帐号
                    </h4>
                    <p class="list-group-item-text">
                        24小时变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每天00:00更换,和他人共享相同的端口">
                    </p>
                </a>
                <div class="collapse in " id="account_sub1">
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ public_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ public_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-target="#account_sub2">
                    <h4 class="list-group-item-heading">
                         登录用户
                    </h4>
                    <p class="list-group-item-text">
                        7天变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每周一更换,和他人共享相同的端口,速度更快">
                    </p>
                </a>
                {% if login_port %}
                <div class="collapse in" id="account_sub2">
                {% else %}
                <div class="collapse" id="account_sub2">
                {% end %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ login_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ login_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                {% if login_port %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                {% else %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-warning" style="center">没有权限</span></p></a>
                {% end %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 ">
            <div class="list-group" >
                <a href="javascript:void(0)" class="list-group-item" data-toggle="collapse" data-target="#account_sub3">
                    <h4 class="list-group-item-heading">
                         捐助用户
                    </h4>
                    <p class="list-group-item-text">
                    {% if err_code==2000 %}
                        很抱歉，本月帐号已经分配完,下个月开始您将享受到专有的帐号
                    {% else %}
                        1个月变动一次 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="每月1日更换,独享一个端口无限速2GB流量">
                    {% end %}
                    </p>
                </a>
                {% if donate_port %}
                <div class="collapse in" id="account_sub3">
                {% else %}
                <div class="collapse" id="account_sub3">
                {% end %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  服务器地址: wantjr.com</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  端口: {{ donate_port }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  密码: {{ donate_password }}</p></a>
                    <a href="#" class="list-group-item"><p class="list-group-item-text">  加密方式: aes-256</p></a>
                {% if donate_port %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-success" style="center">正常</span></p></a>
                {% else %}
                    <a href="#" class="list-group-item"><p class="list-group-item-text"> 状态: <span class="label label-warning" style="center">没有权限</span></p></a>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}

