<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>免费shadowsocks帐号</title>
   <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="30">

    <div class="row text-center" style="padding:0 50px 0 50px" >
        <div style="padding-top:0px" class="col-xs-6 col-xs-offset-1 col-sm-8 col-sm-offset-2">

            <table class="table table-hover table-bordered">
              <caption>个人信息:{{ user }}</caption>
              <thead>
                <tr>
                  <th>名称</th>
                  <th>信息</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>服务器地址: </td> 
                  <td>wantjr.com</td>
                </tr>
                <tr>
                  <td>端口: </td>
                  <td>{{ port }}</td>
                </tr>
                <tr>
                  <td>密码: </td>
                  <td>{{ password }}</td>
                </tr>
                <tr>
                  <td>加密方式: </td>
                  <td>aes-256</td>
                </tr>
              </tbody>
            </table>

        </div>
    </div>






</body>
</html>
